* {
  border-radius: 5px;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-size: 48px;
  font-weight: 200;
  font-style: normal;
}

:root {
  --calculator-color: rgb(232, 225, 216);
  --display-color: rgb(254, 250, 246);
  --display-text-color: rgb(61, 139, 121);
  --numerical-button-color: rgb(252, 245, 236);
  --numerical-button-shadow-color: rgb(178 169 158);
  --utility-button-color: rgb(234, 171, 164);
  --utility-button-shadow-color: rgb(167, 52, 39);
  --clear-button-color: rgb(243, 196, 161);
  --clear-button-shadow-color: rgb(194, 117, 59);
  --operator-button-color: rgb(250, 228, 146);
  --operator-button-shadow-color: rgb(212, 183, 70);
}

/* Clockwork GameBoy */
/* :root {
  --calculator-color: rgb(178, 183, 176);
  --display-color: rgb(32, 33, 28);
  --display-text-color: rgb(61, 139, 121);
  --numerical-button-color: rgb(101, 103, 95);
  --utility-button-color: rgb(180, 67, 61);
  --operator-button-color: rgb(86, 109, 99);
} */
/* Vintage Calculator */
/* :root {
  --calculator-color: rgb(184, 186, 169);
  --display-color: rgb(32, 33, 28);
  --display-text-color: rgb(117, 240, 225);
  --numerical-button-color: rgb(67, 72, 75);
  --utility-button-color: rgb(137, 47, 61);
  --clear-button-color: rgb(172, 75, 58);
  --operator-button-color: rgb(107, 138, 129);
} */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--calculator-color);
}

.calculator {
  display: flex;
  flex-direction: column;
  height: 50vh;
  /* width: calc(100vw/3); */
}

.calculator .display {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  resize: none;
}

.calculator .display textarea {
  align-items: center;
  flex: 1;
  align-self: stretch;
  resize: none;
  background-color: var(--display-color);
  color: var(--display-text-color);
  margin-left: -6px;
  text-align: end;
}

.button {
  display: flex;
  flex-direction: row;
  flex: 4;
  align-self: stretch;
}

.button button {
  /* margin: 2.5px; */
  /* border: 0.5px solid; */
  border: none;
  /* padding: 0; */
}

.button button:active {
  box-shadow: none;
  transform: translate(-5px, 5px);
}

.numerical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 3;
  /* gap: 5px; */
}

.numerical * {
  /* flex: 0 0 calc(100%/3); */
  flex: 0 0 calc(100%/3 - 7px);
}

.numerical button {
  background-color: var(--numerical-button-color);
  box-shadow: -1px 1px 0px var(--numerical-button-shadow-color),
    -2px 2px 0px var(--numerical-button-shadow-color),
    -3px 3px 0px var(--numerical-button-shadow-color),
    -4px 4px 0px var(--numerical-button-shadow-color),
    -5px 5px 0px var(--numerical-button-shadow-color),
    -6px 6px 0px var(--numerical-button-shadow-color);
}

.numerical [name="zero"] {
  flex: 2;
}

.non-numerical {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: stretch;
  flex: 2;
  /* gap: 5px; */
}

.button,
.numerical,
.non-numerical {
  gap: 10px;
}

.non-numerical * {
  flex: 0 0 calc(100%/2 - 5px);
  align-self: stretch;
}

.non-numerical .utility {
  background-color: var(--utility-button-color);
  box-shadow: -1px 1px 0px var(--utility-button-shadow-color),
    -2px 2px 0px var(--utility-button-shadow-color),
    -3px 3px 0px var(--utility-button-shadow-color),
    -4px 4px 0px var(--utility-button-shadow-color),
    -5px 5px 0px var(--utility-button-shadow-color),
    -6px 6px 0px var(--utility-button-shadow-color);
}

.non-numerical .operator {
  background-color: var(--operator-button-color);
  box-shadow: -1px 1px 0px var(--operator-button-shadow-color),
    -2px 2px 0px var(--operator-button-shadow-color),
    -3px 3px 0px var(--operator-button-shadow-color),
    -4px 4px 0px var(--operator-button-shadow-color),
    -5px 5px 0px var(--operator-button-shadow-color),
    -6px 6px 0px var(--operator-button-shadow-color);
}

.non-numerical [name="clear-all"] {
  order: 1;
}

.non-numerical [name="clear"] {
  order: 2;
  background-color: var(--clear-button-color);
  box-shadow: -1px 1px 0px var(--utility-button-shadow-color),
    -2px 2px 0px var(--clear-button-shadow-color),
    -3px 3px 0px var(--clear-button-shadow-color),
    -4px 4px 0px var(--clear-button-shadow-color),
    -5px 5px 0px var(--clear-button-shadow-color),
    -6px 6px 0px var(--clear-button-shadow-color);
}

.non-numerical [name="subtraction"] {
  order: 3;
}

.non-numerical [name="division"] {
  order: 4;
}

.non-numerical [name="addition"] {
  order: 5;
}

.non-numerical [name="multiplication"] {
  order: 6;
}

.non-numerical [name="equals"] {
  order: 7;
  flex: 2;
}